.emptypadding {
    padding-top: 70px;
}

.container {
    width: 50%;
    min-height: 50px;
    margin: 0 auto;
    border: 1px solid black;
}

.centerText {
    text-align: center;
}


.total {
    text-align: center;
}


.btn {
    margin: 10px 5px;
    font-size: 20px;
}
