.centerText {
    text-align: center;
}

.tag {
    padding-top: 50px;
    font-size: 30px;
}


.btn {
    margin: 10px 5px;
    font-size: 20px;
}

.emptypadding {
    padding-top: 70px;
}

.examplegroup {
    background: white;
}